@model webprogramlama_odev.Models.HocaMusaitlik

@{
    ViewData["Title"] = "Müsaitlik Düzenle";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Müsaitlik Düzenle</h2>

<div class="container mt-4">
    <h2 class="text-center">Yeni Randevu Ekle</h2>
    <form asp-controller="HocaMusaitlik" asp-action="HocaMusaitlikUpdate" method="post">
        <div class="form-group">
            <label asp-for="Hoca"></label>
            <select asp-for="HocaId" class="form-control">
                @foreach (var hoca in ViewBag.Hocalar as List<webprogramlama_odev.Models.Hoca>)
                {
                    <option value="@hoca.Id">@hoca.Ad @hoca.Soyad</option>
                }
            </select>
            <span asp-validation-for="HocaId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tarih" class="form-label"></label>
            <input asp-for="Tarih" class="form-control" type="date" />
        </div>
        <div class="form-group">
            <label asp-for="Saat" class="form-label"></label>
            <input asp-for="Saat" class="form-control" type="time" />
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>
