@model webprogramlama_odev.Models.Asistan

@{
    ViewData["Title"] = "Asistan Güncelle";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Asistan Güncelle</h2>
    <form asp-controller="Asistan" asp-action="AsistanUpdate" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Ad"></label>
            <input asp-for="Ad" class="form-control" />
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Soyad"></label>
            <input asp-for="Soyad" class="form-control" />
            <span asp-validation-for="Soyad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefon"></label>
            <input asp-for="Telefon" class="form-control" />
            <span asp-validation-for="Telefon" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mail"></label>
            <input asp-for="Mail" type="email" class="form-control" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BolumId"></label>
            <select asp-for="BolumId" class="form-control">
                @foreach (var bolum in ViewBag.Bolumler as List<webprogramlama_odev.Models.Bolum>)
                {
                    <option value="@bolum.Id">@bolum.BolumAdi</option>
                }
            </select>
            <span asp-validation-for="BolumId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Resim">Resim</label>
            <input type="file" name="Resim" class="form-control" />
            <span asp-validation-for="Resim" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>